.logo
#master-panel
ul#nav
        li.top.list-menu
          i#toggle-header.icon-resize-vertical.icon-white
        li.top.config-menu
          a.top_link(href="/")
            i.icon-edit.icon-white
            span= i18n.gettext('Config')
